/*Global*/
*{
    margin: 0;
    padding: 0;
}
body{
  background-color: #FEECDF;
}

footer{
  background-color: #29BF12;
  padding-top:50px;
  height:50px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: white;
  text-align: center;
}
a{
  text-decoration: none;
  color: #000;
  padding: 5px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 17px;
  border-radius: 10px;
  background-color: #ABFF4F;
  border: none;
  height: 30px;
  width: 45%;
}
/*Header*/
header{
    height: 50px;
    background-color: #29BF12;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1fr;
}
#headerbuttonlogin{
  margin: 15px;
}

.headerbutton{
  margin-top: 15px;
}

.imageheader{
  width: 24px;
  vertical-align: middle;
}

#buttonloginheader{
  background-color: #29BF12;
  border: none;
}

.buttonHeader{
  color: #000;
  font-size: 17px;
  border-radius: 10px;
  background-color: #ABFF4F;
  border: none;
  height: 24px;
  width: 90px;
}

button:focus{
  cursor: pointer;
}
button:hover{
  cursor: pointer;
}




  

